@charset "UTF-8";

@font-face {
  font-family: "honk";
  src: url("assets/fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf") format("truetype");
}

canvas {
  border: 1px solid black;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Impede seleção de texto e realces de toque */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  background-color: #000; /* Fundo das barras pretas */
  overflow: hidden;
}

canvas {
  /* O segredo: ele tenta ocupar a tela, mas respeita os 16:9 */
  width: 100%;
  height: 100%;
  max-width: 177.78dvh; /* 16/9 de 100 */
  max-height: 56.25vw;  /* 9/16 de 100 */
  
  background: rgb(180, 180, 224);
  image-rendering: pixelated; /* Mantém pixels nítidos */
  display: block;
}