html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: #000000;
    color: white;
    font-family: Arial;
}

/* Centralização total */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Telas (Start / Game Over / Select) */
.screen {
    position: absolute;
    text-align: center;
}

/* Ocultar elementos */
.hidden {
    display: none;
}

/* Canvas */
canvas {
    width: 100%;
    max-width: 99%;   /* tamanho máximo do jogo */
    height: auto;       /* mantém proporção */
    display: block;
    image-rendering: pixelated;
    margin: auto;
    border: 2px solid #000000;
}

/* HUD */
#hud {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    z-index: 10;
}

